head
  //- Meta
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Saiku Analytics - The world's greatest open source OLAP browser")
  link(rel="author" href="humans.txt")

  title Saiku Community

  //- Twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@SaikuAnalytics")
  meta(name="twitter:url" content="https://community.meteorite.bi")
  meta(name="twitter:title" content="Saiku Community")
  meta(name="twitter:description" content="Saiku Analytics - The world's greatest open source OLAP browser.")
  meta(name="twitter:image" content="https://community.meteorite.bi/images/profile-200.png")

  //- Facebook
  meta(property="og:url" content="https://community.meteorite.bi")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Saiku Community")
  meta(property="og:image" content="https://community.meteorite.bi/images/profile-200.png")
  meta(property="og:description" content="Saiku Analytics - The world's greatest open source OLAP browser.")
  meta(property="og:site_name" content="Saiku Community")

  //- Google Fonts
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700")

  //- CSS
  link(rel="stylesheet" href="css/font-awesome.min.css")
  link(rel="stylesheet" href="css/main.css")

  //- Modernizr
  script(src="js/modernizr.custom.js")
