/**
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

 /*! =========================================================================
   1. RESPONSIVE
   ========================================================================= */

/*! 1.1. CONTAINER
    ========================================================================== */

@media screen and (max-width 55em)
  .container > header .description,
  .container > header .social
    float none

  .container > header > .saiku-logo,
  .container > header .description
    text-align center

  .container
    & > header
      .social
        margin 30px auto

/*! 1.1. BOX GRID
    ========================================================================== */

@media screen and (max-width: 62.75em) {
  .box-grid li {
    width: 50%;
  }

  /* reset the grid lines */

  .box-grid li:nth-child(-n+3) {
    border-top: 1px solid #ddd;
  }

  .box-grid li:nth-child(3n-1),
  .box-grid li:nth-child(3n-2) {
    box-shadow: none;
  }

  .box-grid li:nth-child(-n+2) {
    border-top: none;
  }

  .box-grid li:nth-child(2n-1) {
    box-shadow: 1px 0 0 #ddd;
  }
}

@media screen and (max-width: 41.6em) {
  .box-grid li {
    width: 100%;
  }

  .box-grid li:nth-child(-n+2) {
    border-top: 1px solid #ddd;
  }

  .box-grid li:nth-child(2n-1) {
    box-shadow: none;
  }

  .box-grid li:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 25em) {
  .box-grid {
    font-size: 80%;
  }

  .box-grid .box-subtitle {
    margin-top: 20px;
  }
}
